{% extends 'main/template.html' %}

{% block title %}เกี่ยวกับเรา{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto"><h1>เกี่ยวกับเรา</h1></div>
            
                <div class="d-flex justify-content-center">
                    <p>
                        เว็บไซต์นี้สร้างขึ้นมาเพื่อลดภาระงานของบุคลากรทางการแพทย์ <br>
                        เนื่องจากเตียงรักษาผู้ป่วยไม่เพียงพอ และมีการ Home Isolation มากขึ้น <br>
                        จึงเกิดเป็นไอเดียในการ สร้างเว็บไซต์กลางที่เป็นศูนย์รวมของทุกโรงพยาบาล <br>
                        ในการรักษาผู้ป่วย โรค COVID-19 ที่หาเตียงไม่ได้ และต้อง Home Isolation <br>
                        และในอนาคตจะมีการรักษาโรคระบาดร้ายแรงอื่น ๆ ด้วย
                    </p>
                </div>
                <div class="d-flex justify-content-center"><p>contact : 6210742463@student.tu.ac.th</p></div>
            
        </div>
    </div>
{% endblock %}