{% extends 'main/template.html' %}

{% block title %}ประวัติ{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th scope="col-lg-1">ครั้งที่</th>
                    <th scope="col-lg-2">วัน-เวลา</th>
                    <th scope="col-lg-4">สัญญาณชีพจร</th>
                    <th scope="col-lg-1">รายละเอียด</th>
                </thead>
                
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>18/10/2021</td>
                      <td>100</td>
                      <td>@mdo</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
{% endblock %}